/* src/styles/instructions.scss */

.instructions-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

.instructions-header {
    margin-bottom: 2rem;

    h1 {
        font-size: 2.5rem;
        font-weight: 300;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .instructions-header__sub-title {
        color: red;
        font-size: 1.25rem;
    }
}

.instructions-text {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.instructions-video {
    width: 100%;
    max-width: 600px;
    margin: 1rem 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.instructions-list {
    list-style-position: inside;
    text-align: left;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    margin: 1rem 0;
    background-color: #fdfdfd;

    li {
        margin-bottom: 0.75rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.instructions-highlight-box {
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    padding: 1.5rem;
    margin: 1.5rem 0;
    border-radius: 8px;
    text-align: left;
}

.instructions-final-prompt {
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 8px;

    h3 {
        font-size: 1.25rem;
        font-weight: bold;
    }
}