@use "jspsych/css/jspsych.css";

.jspsych-display-element {
  background-color: #ffffff;
}

.jspsych-content {
  max-width: 60%; 
}

ul {
  list-style-type: none;
}

video {
  max-height: 40%;
  max-width: 50%;
}